.hero__content {
    position: relative;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-input {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 25px; /* Adjust border radius as needed */
  }
  
  .search-button {
    position: absolute;
    right: 5px; /* Adjust button position */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Adjust hover color */
  }
  